@charset "utf-8";

/* 実績リストページ */
.pic_hand {
    width: 500px;
}

#line h3,
#watercolor h3 {
    width: 235px;
}

#color h3 {
    width: 255px;
}

.list_text {
    margin-top: -15px;
}

/* 各実績詳細ページ */
.mock_img {
    width: 900px;
}

#website .list_content {
    margin-bottom: 145px;
}
