@charset "utf-8";

/* 各実績詳細ページ */
.mock_img {
    width: 90%;
}

#website .list_content {
    margin-bottom: 145px;
}

.works_detail_02 .detail_img {
    width: 70%;
}

/* 4枚以上になったら消す */
#banner .slick-track {
    margin-left: 0;
}

/* 各実績詳細ページ */
#website .list_content {
    margin-bottom: 145px;
}
