@charset "utf-8";

/* 実績リストページ */
.web_list .pic_hand {
    width: 60.5%;
}

#website h3 {
    width: 450px;
}

#banner h3 {
    width: 250px;
}

/* 各実績詳細ページ */
.mock_img {
    width: 900px;
}

#website .list_content {
    margin-bottom: 145px;
}
