@charset "utf-8";

/* ヘッダー */
#header {
    position: relative;
}

.header_logo {
    position: absolute;
    top: 35%;
    left: 9%;
    display: flex;
    align-items: center;
    width: 50%;
}

.header_logo img {
    width: 35%;
}

.header_logo p {
    margin-left: 6%;
    font-size: 25px;
    line-height: 1.6;
}

.scrolldown {
    position: absolute;
    left: 50%;
    bottom: 60px;
    height: 50px;
}

.scrolldown span {
    position: absolute;
    left: -23px;
    top: -15px;
    letter-spacing: 0.09em;
}

.scrolldown::after {
    content: "";
    position: absolute;
    top: 13px;
    width: 1px;
    height: 80px;
    background: #333333;
    animation: pathmove 1.4s ease-in-out infinite;
    opacity: 0;
}

@keyframes pathmove {
    0% {
        height: 0;
        top: 13px;
        opacity: 0;
    }
    30% {
        height: 80px;
        opacity: 1;
    }
    100% {
        height: 0;
        top: 100px;
        opacity: 0;
    }
}

/* メイン */
.title_left {
    position: relative;
    margin-left: 4%;
}

.title_right {
    position: relative;
    margin-left: auto;
    margin-right: 4%;
}

.lead {
    font-size: 20px;
    line-height: 1.75;
}

.title_left::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: -200px;
    width: 300px;
    height: 300px;
    transform: rotate(135deg);
    border-top: 1px solid #333333;
}

.title_right::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 40px;
    width: 300px;
    height: 300px;
    transform: translateY(100%) rotate(45deg);
    border-top: 1px solid #333333;
}

/* はじめに */
#concept {
    max-width: 1000px;
    margin: 250px auto 130px auto;
}

#concept .title_left {
    z-index: 1;
}

.concept_slider {
    width: 955px;
    margin: 0 auto;
}

.slick-prev,
.slick-next {
    top: 50%;
    width: 45px;
    height: 62px;
}

.slick-prev {
    left: 15px;
    z-index: 1;
}

.slick-next {
    right: 30px;
}

.slick-arrow::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slick-next::before {
    background-image: url(../images/btn_go_mekuru.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
}

.slick-prev::before {
    background-image: url(../images/btn_back_modoru.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
}

.slick-num {
    position: absolute;
    bottom: 35px;
    right: 0;
    padding-right: 80px;
    font-size: 15px;
    color: #666666;
}

.slick-num::after {
    content: "ページ";
}

#concept .pic_hand {
    width: 470px;
    margin: 254px auto 0 auto;
}

/* できること */
#skills {
    max-width: 1000px;
    margin: 0 auto 225px auto;
}

#skills .lead {
    height: 440px;
    margin-top: 20px;
    margin-right: 10%;
    writing-mode: vertical-rl;
    font-feature-settings: initial;
}

.skill_top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.skill_wrap_left,
.skill_wrap_right {
    display: flex;
    width: 690px;
    height: 472px;
    margin-top: 85px;
}

.skill_top .skill_wrap_left {
    margin-top: 0;
}

.skill_wrap_left {
    flex-direction: row-reverse;
    background-image: url(../images/paper_left@2x.png);
    background-size: cover;
}

.skill_wrap_right {
    background-image: url(../images/paper_right@2x.png);
    background-size: cover;
    margin-left: auto;
}

.skill_wrap_left h3 {
    width: 163px;
}

.skill_wrap_right h3 {
    width: 142px;
}

.skill_wrap_left h3,
.skill_wrap_right h3 {
    height: 395px;
    margin-top: 37px;
    padding-top: 37px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 1.75;
    writing-mode: vertical-rl;
    font-feature-settings: initial;
}

.skill_title_left_01 {
    padding-right: 60px;
    border-left: 1px solid #987b5a;
}

.skill_title_right {
    padding-right: 51px;
    border-right: 1px solid #987b5a;
}

.skill_title_left_02 {
    padding-right: 77px;
    border-left: 1px solid #987b5a;
}

.skill_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 525px;
}

.skill_wrap_left .skill_content {
    padding: 65px 35px 55px 41px;
    box-sizing: border-box;
}

.skill_wrap_right .skill_content {
    padding: 65px 41px 55px 35px;
    box-sizing: border-box;
}

.skill_feature {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.skill_left .skill_feature {
    flex-direction: row-reverse;
}

.skill_summary {
    margin-top: 25px;
    line-height: 1.88;
    text-align: justify;
}

.skill_tool {
    font-size: 13px;
}

.icon_01 {
    width: 223px;
}

.toollogo_01 {
    width: 143px;
}

.icon_02 {
    width: 192px;
}

.toollogo_02 {
    width: 191px;
}

.icon_03 {
    width: 233px;
}

.toollogo_03 {
    width: 65px;
}

.icon_04 {
    width: 222px;
}

#skills .pic_hand {
    width: 592px;
    margin: 255px auto 0 auto;
}

/* つくったもの */
#works {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.works_wrap_01 {
    width: 955px;
    height: 645px;
    margin: -96px auto 0 auto;
    padding: 40px 10% 75px 10%;
    box-sizing: border-box;
    background: #f1eee8;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.15);
}

.works_wrap_02 {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding: 0 7%;
}

.pic_ink {
    width: 155px;
}

.works_wrap_02 ul {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: -10px;
}

.works_wrap_02 ul li {
    width: 80px;
    margin: 0 6px;
    transition: 0.3s;
}

.works_wrap_02 ul li:hover {
    display: block;
    margin-top: -30px;
    cursor: pointer;
}

.works_box {
    width: 756px;
    height: 30px;
    margin: 0 auto 65px auto;
    background: #beb4a0;
}

.works_wrap_01 p {
    margin: 0 auto;
    text-align: center;
}

#works .pic_hand {
    width: 355px;
    margin: 250px auto 0 auto;
}

/* 相談する */
#contact {
    max-width: 1000px;
    margin: 0 auto 150px auto;
}

#contact .lead {
    width: 67%;
    margin-top: -30px;
    margin-left: 8%;
}

#contact form {
    display: flex;
    flex-direction: column;
    width: 950px;
    height: 670px;
    margin: 70px auto 0 auto;
    padding: 100px 105px 30px 105px;
    box-sizing: border-box;
    background-image: url(../images/contact.svg);
    background-size: cover;
    font-size: 20px;
}

.form_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.contact_name {
    margin-left: 10%;
}

#name,
#email {
    width: 78%;
    height: 40px;
    padding: 0 2%;
    box-sizing: border-box;
    font-size: 16px;
    border: none;
}

#msg {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    padding: 2% 2%;
    box-sizing: border-box;
    font-size: 16px;
    border: none;
}

.msg {
    border-top: 1px solid #987b5a;
    padding-top: 30px;
    padding-bottom: 15px;
}

#contact button {
    width: 130px;
    height: 45px;
    margin-left: auto;
    padding: 13px 0px;
    background: #509ea3;
    font-size: 20px;
    color: white;
    border-radius: 23px;
    border: none;
}

#contact .pic_hand {
    width: 402px;
    margin: 190px auto 0 auto;
}

/* 作者あとがき */
#about {
    max-width: 1000px;
    margin: 0 auto;
}

.about_wrap_01 {
    display: flex;
    align-items: flex-end;
}

.about_wrap_01 .title_left {
    margin-bottom: 100px;
}

.about_wrap_01 .title_left::after {
    bottom: -20px;
    left: -180px;
}

.about_wrap_01 p {
    margin-left: 129px;
}

.about_wrap_02 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.my_name {
    text-align: center;
}

.my_face {
    width: 312px;
    margin: 0 auto 22px auto;
}

.my_name p {
    margin-bottom: 104px;
    font-size: 40px;
    letter-spacing: 0.2em;
}

.logo_insta {
    width: 40px;
    margin: 0 auto 23px auto;
}

.my_name ul {
    text-align: start;
    padding-left: 17%;
}

.my_name ul li {
    position: relative;
    margin-bottom: 20px;
    font-size: 20px;
}

.my_name ul li::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    border-left: 10px solid #736357;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.my_name ul li a {
    margin-left: 20px;
    border-bottom: 1px solid #333333;
}

.about_content {
    display: flex;
    width: 610px;
    height: 645px;
}

.tab {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.tab li {
    display: block;
    height: 127px;
    padding: 0px 20px;
    writing-mode: vertical-rl;
    border-radius: 22px 0 0 22px;
    text-align: center;
}

.tab_01 {
    background: #e4ddd1;
}

.tab_02 {
    background: #b7ad99;
}

.tab_03 {
    background: #a39985;
    color: white;
}

.tab_04 {
    background: #807864;
    color: white;
}

.area {
    position: relative;
    display: none;
    opacity: 0;
    background: #f1eee8;
    padding: 70px 42px 0px 0px;
}

.area.is-active {
    display: block;
    animation-name: displayAnime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#about_me {
    border-left: 42px solid #e4ddd1;
}

#history {
    border-left: 42px solid #b7ad99;
}

#like {
    padding-top: 40px;
    border-left: 42px solid #a39985;
}

#bird {
    border-left: 42px solid #807864;
}

.area {
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.15);
}

.area .pic {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 238px;
}

.area h3 {
    width: 50%;
    font-size: 30px;
    letter-spacing: 0.18em;
    padding-bottom: 4px;
    padding-left: 42px;
}

#about_me h3 {
    border-bottom: 2px solid #e4ddd1;
}

#history h3 {
    border-bottom: 2px solid #b7ad99;
}

#like h3 {
    border-bottom: 2px solid #a39985;
}

#bird h3 {
    border-bottom: 2px solid #807864;
}

.area p {
    position: relative;
    margin-top: 42px;
    padding-left: 42px;
    line-height: 1.88;
    z-index: 1;
}

#like h4 {
    margin-top: 36px;
    margin-left: 42px;
    padding: 3px 3% 2px 3%;
    box-sizing: border-box;
    border-left: 7px solid #a39985;
    font-size: 20px;
}

#like p {
    margin-top: 12px;
    margin-left: 42px;
    padding-left: 5%;
    line-height: 1.56em;
}

/* サンクスページ */
.thankyou {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 55px 105px;
    box-sizing: border-box;
    background: #f1eee8;
    border-radius: 30px;
}

.thankyou_pic {
    width: 326px;
}

.thankyou p {
    margin-left: 55px;
    font-size: 20px;
    line-height: 2.5;
}
